//Har hand om alla variablar
//Fäger
$color-prim: #727D92;
$color-light-prim: #A1ACC2;
$color-sec: #979883;
$color-light-sec: #C8C9B3;
$color-light: #E9E9E9;

//Font
$font-prim: 'Muli', sans-serif;
$font-deco: 'Parisienne', cursive;
$font-header: 'Lobster Two', cursive;

$font-nav: 20px