header {
    height: 750px;
    //background-color: $color-light;
    transform: skew(0deg, -10deg) translateY(-120px);
    display: flex;
    background-image: url(/img/buddha.jpg);
    background-position: center;
    background-size: cover;
}

.container {
    //padding: 300px 200px 0px 0px;
    padding-top: 60%;
    padding-left: 140px;
    transform: skew(0deg, 10deg);
    text-align: center;
}

.container h1 {
    margin: 0;
    padding-top: 40px;
    font-family: $font-header;
    font-size: 48px;
    color: $color-light
}

.container p {
    font-size: 16px;
    margin: 0;
    padding: 0;
    line-height: 20px;
    font-family: $font-prim;
    color: $color-light;
}
